.form-control.ng-touched.ng-invalid
{
    border: 2px solid rgb(179, 101, 101);
}

.form-control.ng-touched.ng-valid
{
    border: 2px solid rgb(67, 133, 67);
}

div.back
{
    background: url("C:\Users\benny\hello-world\src\assets\download.jpg");
   background-repeat: no-repeat;
   background-size: contain;
   
}