
<div class="topnav">
  <div class="container p-0 m-0">
    <a  routerLink="" routerLinkActive="active">Home</a>
    <a routerLink="platform" routerLinkActive="active">Platform</a>
    <a routerLink="signin" routerLinkActive="active">Sign In</a>
    <a href="#about">About</a>
    </div>
    
    <form class=" form-inline  my-lg-0 p-2" style="float:right;">
      <input class="form-control my-2 my-sm-0" style="width:174px;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-grey my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  
  </div>

 