<h1>
    Courses
    </h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    
    <tr>
        
        <td>{{data}}{{courseID}}</td>
        <td>{{data}}{{courseName}}</td>
    </tr>
    </table>
        