.form-control.ng-touched.ng-invalid
{
    border: 2px solid rgb(179, 101, 101);
}

.form-control.ng-touched.ng-valid
{
    border: 2px solid rgb(67, 133, 67);
}

div.back
{
    background: url("/home/chetan/Angular/Web/First Angular Project/src/assets/dwonload.jpg/");
   background-repeat: no-repeat;
   background-size: contain;
   
}