<p>response works!</p>
<!--<h1>{{myarr}} Sum:{{sum}}</h1>
<h2><b>Signin:</b> <br>
  hours:{{dateTime| date : 'hh'}}<br>
  minutes:{{dateTime| date : 'mm'}}<br>
  seconds:{{dateTime| date : 'ss'}}<br>
  <b>Signout:</b> <br>
  hours:{{dateTime1| date : 'hh'}}<br>
  minutes:{{dateTime1| date : 'mm'}}<br>
  seconds:{{dateTime1| date : 'ss'}}<br>

  <b>Difference:</b> <br>
  hours:{{diff1}}<br>
  minutes:{{diff2}}<br>
  seconds:{{diff3}}<br>
  <button class="btn btn-primary" (click)="save()"> Calculate working hours</button>
  
  <b>Total working hours for 3 days:</b> <br>
  hours:{{sum1}}<br>
  minutes:{{sum2}}<br>
  seconds:{{sum3}}<br>

</h2>-->


        <div class="container">            
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Feedback</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let myvar of myarr">
                          <td>{{myvar.Fullname.firstname}} {{myvar.Fullname.gender}}</td>
                          <td>{{myvar.Fullname.lastname }} {{myvar.Fullname.gender1}}</td>
                            <td>{{myvar.feedback}}</td>
                          </tr>
                  </tbody>

                </table>
              </div>
              

              